.bg-light .mb-5 .navbar .navbar-expand-lg .navbar-dark .bg-dark .navbar-brand{
    background-color: #7D83E8;
    color:#7D83E8;
}

.container .bg-light{
    background-color:#7D83E8;
}

.form-group .mt-3{
    background-color: aqua;
}